<div class="row relativdoboz">
  <div class="col-12 mt-2">

    <div *ngIf="kerdes" class="kerdes">
      <h2>Biztos törölni szeretnéd a usert?</h2>
      <button class="btn btn-success m-4 btn-block" (click)="torolniSzeretnem()">IGEN</button>
      <button class="btn btn-danger btn-block" (click)="nemTorlom()">NEM</button>
    </div>

    <h2>User List</h2>
    <div class="input-group mt-3 bb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
      </div>
      <input [(ngModel)]="nameInput" type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <button [disabled]="kerdes" (click)="createUser()" class="btn btn-info btn-block p-3">Create a new user</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="sortTableBy('id')">#</th>
          <th (click)="sortTableBy('name')">Name</th>
          <th (click)="sortTableBy('email')">Email</th>
          <th (click)="sortTableBy('address')">Address</th>
          <th (click)="sortTableBy('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async|szuro:'name':nameInput |rendezes:sortByThis">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [disabled]="kerdes" [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button [disabled]="kerdes" (click)="onDelete(user.id)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
